<section>
  <div class="row">
    <div class="col-12" style="background-color: #A67587;">
      <b-in-w-img-carousel></b-in-w-img-carousel>
    </div>
  </div>
  <div class=" row" style="background-color: #fff">
    <div class="col-12">
      <h2 class="text-center m-3">Welcome to Beliefs in Wreaths</h2>
    </div>
  </div>
  <div class="row" style="background-color: #fff">
    <div class="col-lg-6 col-sm-12"><img src="assets/main-photo.png" style="border-radius: 95%; padding: 10px;"></div>
    <div class="col-lg-6 col-sm-12">
      <h3 class="text-center m-4">Hi, I'm Aleksandra!</h3>
      Welcome to Beliefs in Wreaths. Specializing in Luxurious All Season and Festive
      Wreaths,
      inside or out the possibilities are endless. Home or Business impress everyone with an elegant, personalised
      Wreath. Wreaths are beautiful, Ooze Charm, Create Warmth and always Emanate an Inviting Atmosphere. We
      possess an impressive selection, all one of a kind. Need individuality let us elegantly design one for you
      or choose one from our ready to take home collection.
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="text-center m-3">Follow us on Instagram</h2>
    </div>
  </div>
  <div class="row mt-3 mr-4">
    <div class="col-lg-3 col-xs-12"><img
        src="https://scontent.cdninstagram.com/v/t51.2885-15/e35/s480x480/193150013_596445465023340_498869966766825052_n.jpg?tp=1&_nc_ht=scontent.cdninstagram.com&_nc_cat=100&_nc_ohc=2C6bzqMfq7EAX-h52wF&edm=AMO9-JQAAAAA&ccb=7-4&oh=c648b8e8007df6e3402c7f4b36085a59&oe=60F1CC83&_nc_sid=b9f2ee">
    </div>
    <div class="col-lg-3 col-xs-12"><img
        src="https://scontent.cdninstagram.com/v/t51.2885-15/e35/s480x480/191042401_137359155118150_2384104795131085208_n.jpg?_nc_ht=scontent.cdninstagram.com&_nc_cat=110&_nc_ohc=nfyDVIbbKawAX9U3eP4&edm=AMO9-JQAAAAA&ccb=7-4&oh=c890ad8d3b222eedcb441de0ccc72e0b&oe=60F1AAEE&_nc_sid=b9f2ee">
    </div>
    <div class="col-lg-3 col-xs-12"><img
        src="https://scontent.cdninstagram.com/v/t51.2885-15/e35/s480x480/185795865_182676723727492_2525582640688972835_n.jpg?_nc_ht=scontent.cdninstagram.com&_nc_cat=104&_nc_ohc=io-Gkk6aQKMAX9dUoNV&edm=AMO9-JQAAAAA&ccb=7-4&oh=c4694477e79da43c1b1052a69ecd203e&oe=60F20C94&_nc_sid=b9f2ee">
    </div>
    <div class="col-lg-3 col-xs-12"><img
        src="https://scontent.cdninstagram.com/v/t51.2885-15/e35/s480x480/187780537_310704504097522_8412082582543403227_n.jpg?_nc_ht=scontent.cdninstagram.com&_nc_cat=110&_nc_ohc=I3xSoE_0q5oAX-Kt3PK&edm=AMO9-JQAAAAA&ccb=7-4&oh=18cd0f7b752c7481bd174d9b56a28bb2&oe=60F1955E&_nc_sid=b9f2ee">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-xs-12"><img
        src="https://scontent.cdninstagram.com/v/t51.2885-15/e35/s480x480/183093933_1039573383238020_4640510294972762453_n.jpg?tp=1&_nc_ht=scontent.cdninstagram.com&_nc_cat=100&_nc_ohc=nGUssxE51IcAX8QklbA&edm=AMO9-JQAAAAA&ccb=7-4&oh=98448fc0ae48892e334bea983ce3d473&oe=60F15B05&_nc_sid=b9f2ee">
    </div>
    <div class="col-lg-3 col-xs-12"><img
        src="https://scontent.cdninstagram.com/v/t51.2885-15/e35/s480x480/180247055_364223258345323_4214281130055716038_n.jpg?tp=1&_nc_ht=scontent.cdninstagram.com&_nc_cat=107&_nc_ohc=PMqjVCV3I7kAX9zlCP4&edm=AMO9-JQAAAAA&ccb=7-4&oh=01a2f639d0f6838e51d413c15b3f2002&oe=60F2827E&_nc_sid=b9f2ee">
    </div>
    <div class="col-lg-3 col-xs-12"><img
        src="https://scontent.cdninstagram.com/v/t51.2885-15/e35/s480x480/176623752_501340640887335_1695943041537678857_n.jpg?_nc_ht=scontent.cdninstagram.com&_nc_cat=103&_nc_ohc=qE0hbgjCOhYAX--HF5G&edm=AMO9-JQAAAAA&ccb=7-4&oh=a851d086ff956661613bd3743eb7610e&oe=60F2C229&_nc_sid=b9f2ee">
    </div>
    <div class="col-lg-3 col-xs-12"><img
        src="https://scontent.cdninstagram.com/v/t51.2885-15/e35/s480x480/210580897_347863410054202_6127823311047936084_n.jpg?tp=1&_nc_ht=scontent.cdninstagram.com&_nc_cat=110&_nc_ohc=uID4j_Eap5QAX9DyF6J&edm=AMO9-JQAAAAA&ccb=7-4&oh=697f3314d1e82e961a459a228c5acd38&oe=60F181A8&_nc_sid=b9f2ee">
    </div>
  </div>
</section>
