.form-inline {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.nav-item {
  .nav-link {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: grey;
    }
  }
}
