.form-inline {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.nav-item {
  .nav-link {
    font-size: 14px;
    font-weight: bold;

    &:hover {
      color: grey;
    }
  }
}

img {
  height: 50px;
  margin-left: 10px;
}
