/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

// TODO: remove all occurrences of style in components

// Site colours
$b-in-w-primary-colour: #f2f2f2;
$b-in-w-secondary-colour: #a6339e;
$b-in-w-text-header-colour: #f26b8f;
$b-in-w-ascent-colour: #98bf5e;
$b-in-w-header-colour: $b-in-w-ascent-colour;
$b-in-w-ascent-secondary-colour: #6e8c58;

html {
  overflow-x: hidden;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #000;
  background-color: #f4ede5;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 350;
}

h1,
h2 {
  font-weight: 500;
}

.boxed-page {
  position: relative;
  border-color: #ededed;
  background-color: #fff;
}
.boxed-page .section-padding {
  padding-top: 65px;
  padding-bottom: 65px;
}

@media (min-width: 1200px) {
  .boxed-page {
    margin: 30px;
  }
}

.header-background {
  background-color: $b-in-w-header-colour;
}

.footer-background {
  background-color: $b-in-w-ascent-secondary-colour;
}

// .heading {
//   font-family: 'Roboto', sans-serif;
// }

/* style="border: solid 1px red;" */

.nav-link {
  color: #000;
}

a {
  color: #f34949;
}

a:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

.btn:hover,
a:hover {
  text-decoration: none;
  color: #e22104;
}
