/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.header-background {
  background-color: #eea8c2;
}

.footer-background {
  background-color: #902c51;
}

.heading {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* style="border: solid 1px red;" */
