<header>
  <div class="container">
    <div class="row">
      <div class="col">
        <b-in-w-header></b-in-w-header>
      </div>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row footer-background">
      <div class="col">
          <app-footer></app-footer>
      </div>
    </div>
  </div>
</footer>
