.form-inline {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.navbar {
  .nav-item {
    .nav-link {
      font-size: 14px;
      font-weight: bold;
      color: white;

      &:hover {
        color: #eea8c2;
      }
    }
  }
}

img {
  height: 50px;
  margin-left: 10px;
}
