<div class="row align-items-center text-center">
  <div class="col-lg-4">
    <h1>
      <!-- TODO: add Note to header or footer and Free delivery for orders over $100. Or make it in footer -->
      <!-- TODO: Аdd мenu. -->
      <!-- TODO: Мake styling same as resto template. -->
      Beliefs in Wreaths
      <h3>Decor Studio</h3>
    </h1>
  </div>
  <div class="col-lg-4 mt-3">
    <b-in-w-logo-img></b-in-w-logo-img>
  </div>
  <div class="col-lg-4">
    <h3 class="mt-3">
      Contact Us:
      <nav class="nav justify-content-center">
        <a class="nav-link" target="_blank" href="https://www.facebook.com/BeliefsInWreaths">
          <fa-icon [icon]="facebookIcon"></fa-icon>
        </a>
        <a class="nav-link" target="_blank" href="https://www.tiktok.com/@beliefs_in_wreaths">
          <fa-icon [icon]="tiktokIcon"></fa-icon>
        </a>
        <a class="nav-link" target="_blank" href="https://www.instagram.com/beliefs_in_wreaths/">
          <fa-icon [icon]="instagramIcon"></fa-icon>
        </a>
      </nav>
    </h3>
    <h5><a href="mailto:beliefsinwreaths@gmail.com">beliefsinwreaths@gmail.com</a></h5>
  </div>
</div>

<div class="row">
  <nav id="navbar-header" class="navbar navbar-expand-lg">
    <div class="container">
      <!-- <a class="navbar-brand navbar-brand-center d-flex align-items-center p-0 only-mobile" href="/">
            <img src="img/b-in-w-logo.png" alt="">
        </a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="lnr lnr-menu"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav d-flex justify-content-between">
          <li class="nav-item only-desktop">
            <a class="nav-link" id="side-nav-open" href="#">
              <span class="lnr lnr-menu"></span>
            </a>
          </li>
          <div class="d-flex flex-lg-row flex-column">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/products/index.html">Products</a>
            </li>
            <!-- TODO: uncomment menu after adding more pages -->
            <!-- <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li> -->

            <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Special Dishes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="special-dishes.html">Beef Steak Sauce</a>
                            <a class="dropdown-item" href="special-dishes.html">Salmon Zucchini</a>
                        </div>
                    </li> -->
          </div>
        </ul>

        <!-- <a class="navbar-brand navbar-brand-center d-flex align-items-center only-desktop" href="#">
                <img src="img/b-in-w-logo.png" alt="">
            </a> -->
        <!-- <ul class="navbar-nav d-flex justify-content-between">
                <div class="d-flex flex-lg-row flex-column">
                    <li class="nav-item active">
                        <a class="nav-link" href="menu.html">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="team.html">Team</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link" href="reservation.html">Reservation</a>
                    </li>
                </div>
                <li class="nav-item">
                    <a id="side-search-open" class="nav-link" href="#">
                        <span class="lnr lnr-magnifier"></span>
                    </a>
                </li>
            </ul> -->
      </div>
      <div>
        <button class="btn btn-light snipcart-checkout">
          <h4>
            <i class="fa fa-shopping-cart"></i>
            <span class="snipcart-items-count"></span>
          </h4>
        </button>
      </div>
    </div>
  </nav>
</div>


<div class="row">
  <nav class="navbar navbar-expand-lg navbar-light w-100 nav-justified nav-pills">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" [class.show]="showNavbar">
        <ul class="navbar-nav mr-auto" v-if="$themeConfig.nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">About</a>
          </li>-->
          <!-- <li class="nav-item active" v-for="item in $themeConfig.nav">
              <a class="nav-link" :href="item.link">{{ item.text }}</a>
            </li> -->
        </ul>
      </div>
    </div>
  </nav>
</div>
