@import '../../../styles.scss';

.form-inline {
  color: $b-in-w-primary-colour;
  font-size: 18px;
  font-weight: bold;
}

.navbar-light {
  background-color: $b-in-w-ascent-secondary-colour;

  .navbar-nav {
    .nav-item {
      .nav-link {
        color: $b-in-w-primary-colour;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}

.menu-text {
  color: $b-in-w-primary-colour;
}

img {
  height: 50px;
  margin-left: 10px;
}
