<div class="row align-items-center text-center">
    <div class="col-lg-4">
        <h1>
          Beliefs in Wreaths
          <h3>Decor Studio</h3>
        </h1>
    </div>
    <div class="col-lg-4 mt-3">
        <b-in-w-logo-img></b-in-w-logo-img>
    </div>
    <div class="col-lg-4">
        <h3>
            <nav class="nav justify-content-center">
                <a class="nav-link" target="_blank" href="https://www.facebook.com/BeliefsInWreaths">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="nav-link" target="_blank" href="https://www.tiktok.com/@beliefs_in_wreaths">
                    <i class="fab fa-tiktok"></i>
                </a>
                <a class="nav-link" target="_blank" href="https://www.instagram.com/beliefs_in_wreaths/">
                    <i class="fab fa-instagram"></i>
                </a>
            </nav>
        </h3>
    </div>
</div>



<!-- <div class="row form-inline justify-content-around pb-3 header-background">
  <div class="col-lg-4 col-sm-12 text-center heading">
    <h1 class="mt-4">Beliefs in Wreaths</h1>
  </div>
  <div class="col-lg-4 col-sm-12 mt-3 text-center">
    <b-in-w-logo-img></b-in-w-logo-img>
  </div>
  <div class="col-lg-4 col-sm-12 text-center">
    <div class="mt-4">
      <a href="https://www.facebook.com/BeliefsInWreaths" target="_blank"><img
          src="assets/social-icons/facebook.svg"></a>
      <a href="https://www.tiktok.com/@beliefs_in_wreaths" target="_blank"><img
          src="assets/social-icons/tiktok.svg"></a>
      <a href="https://www.instagram.com/beliefs_in_wreaths" target="_blank"><img
          src="assets/social-icons/instagram.svg"></a>
    </div>
  </div>
</div>

<div class="row">
  <nav class="navbar navbar-expand-lg navbar-light w-100 nav-justified nav-pills">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" [class.show]="showNavbar">
        <ul class="navbar-nav mr-auto" v-if="$themeConfig.nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">About</a>
          </li>-->
          <!-- <li class="nav-item active" v-for="item in $themeConfig.nav">
              <a class="nav-link" :href="item.link">{{ item.text }}</a>
            </li> -->
        <!-- </ul>
      </div>
    </div>
  </nav>
</div> -->
